<ion-header>
    <ion-toolbar>
        <ion-title><ion-img src="assets/logo.svg"></ion-img></ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-text-center">
    <div class="ion-padding">
        <div id="qr1" class="qr" (click)="goQR()"></div>
        <p>Este es tu código QR</p>
        <p>Muestra este QR para que otro usuario registre <b>manualmente</b> un rastro contigo.</p>
        <p><i>Si ambos usuarios tuviesen activado  Bluetooth™, su rastro se registraría <b>automáticamente</b>.</i></p>
    </div>
</ion-content>
