<ion-header>
    <ion-toolbar>
        <ion-title><ion-img src="assets/logo.svg"></ion-img></ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-text-center">
    <ion-list>
        <ion-item color="light">
            <ion-label><strong>Últimos rastros</strong></ion-label>
            <ion-button id="refreshButton" slot="end" (click)="refreshRecords()" fill="clear">
                <ion-icon name="refresh-circle-outline" slot="end"></ion-icon>
                <ion-label>Refrescar</ion-label>
            </ion-button>
        </ion-item>
        <ion-item class="records" *ngFor="let record of records;">
            <span class="ion-padding"><ion-icon [name]="iconRecord(record)"></ion-icon></span>
            <div [innerHTML]="renderRecord(record)"></div>
        </ion-item>
    </ion-list>

</ion-content>
